<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Versículo</title>
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Gerador de Versículos</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	<div class="container text-center">
		<div class="row justify-content-md-center">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/">HTML</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/api/v1/versiculo/json">JSON</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/api/v1/versiculo/xml">XML</a></li>
			</ul>
			<div class="col-md-auto">
				<div th:switch="${versiculo}" class="container">
					<h2 th:case="null">Não há versículo nesse momento!</h2>
					<div th:case="*" class="row">
						<div
							class="border bg-light rounded-3 mt-3 shadow-sm position-relative p-3 py-4 p-md-4 pt-md-4 mb-5 text-center">
							<div class="text-center">
								<h5 class="mb-3 fw-semibold text-muted">Seu versículo</h5>
								<div>
									<p class="fs-4 fw-semibold1" th:text="${versiculo.verso}">Nós
										o amamos a ele porque ele nos amou primeiro.</p>
									<small>
										<p class="text-reset me-2"
											th:text="${versiculo.nome + ' ' + versiculo.capitulo + ':'+ versiculo.versiculo +' ' + versiculo.versao.toUpperCase()}">1ª
											João 4:19</p>
									</small>
									<div class="mt-2">
										<span class="p-0" style="cursor: pointer;"> <a
											th:href="'https://api.whatsapp.com/send?text=' + ${versiculo.verso} + '%0A%0A*' + ${versiculo.nome} + ' ' + ${versiculo.capitulo} + ':'+ ${versiculo.versiculo} +' ' + ${versiculo.versao.toUpperCase()} +'*%0A'"
											target="_blank" rel="noopener"> <img
												src="https://www.svgrepo.com/show/349563/whatsapp.svg"
												width="25" height="25">
										</a>
										</span>
									</div>
								</div>
							</div>
							<a href="/" type="button" class="btn btn-outline-primary my-4">Gerar
								versículo aleatório</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="bd-callout bd-callout-warning">
			Tecnologias utilizadas:
			<code>String Boot,</code>
			<code>Java 17,</code>
			<code>BootStrap,</code>
			<code>MVC,</code>
			<code>BootStrap,</code>
			<code>Thymeleaf,</code>
			<code>API,</code>
			<code>JSON,</code>
		</div>
	</div>
	<div class="footer fixed-bottom bg-dark text-white text-center py-3">
		<p class="m-0">Este projeto é destinado para estudos.
		<p></p>


		Desenvolvedor Web | <a href="https://www.walterpaulo.com.br"
			class="text-white" target="_blank">Walter Paulo</a>
		</p>
	</div>
</body>
</html>